.main{
  background-color: #f6f6f6;
  max-width: 1400px;
  margin: 0 auto;
  @media screen and (min-width: 300px){
    padding: 16px;
  }
  @media screen and (min-width: 768px) {
    padding: 0 183px;
  }
}
