@import-normalize;

:root {
  font-family: "Poppins", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-style: normal;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: none;
}

p{
  margin: 0;
}

nav{
  margin: 0;
}

ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  margin: 0 auto;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h1,h2,h3{
  margin: 0;
}

img{
  display: block;
}
