
.breadcrumbs {
  display: flex;
  &_item{
    text-transform: capitalize;
    margin-right: 8px;
    a{
      color: #91A0B6;
      transition: transform 0.3s ease;
      &:hover{
        color: #04BF94;
      }
    }
    span{
      font-weight: 500;
      color: #91A0B6;
    }
  }
  &-name{
    margin: 0 8px;
    &.disabled{
      color: #04BF94;
      pointer-events: none;
    }
  }
}
