.header{
  position: relative;
  padding: 16px 20px;
  display: flex;
  align-items: center;
  box-shadow: 0px 2px 40px 0px #0000001A;
  @media screen and (min-width: 767px) {
    padding: 20px 10px;
  }
  }

.button_actions{
  display: flex;
  align-items: center;
    margin-left: auto;
}

.search_button{
  padding: 8px;
  margin-right: 16px;
}
.menu_button{
  padding: 10px 7px;
}
